@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sl-container {
    @apply max-w-[1380px] w-full px-3 mx-auto;
  }
  .sl-animation {
    @apply transition-all duration-300 ease-out;
  }
  .sl-animation-fade {
    @apply transition-opacity duration-150 ease-linear;
  }

  .sl-cart-border {
    @apply relative overflow-hidden w-full rounded-xl px-[0.115rem] pt-[0.115rem] from-white/10 to-white/0 before:absolute before:inset-0 before:w-full before:rounded-xl before:bg-gradient-to-b before:h-full before:from-purple-500 before:to-purple-500/0 before:-z-10 before:opacity-0 before:invisible hover:before:opacity-100 hover:before:visible sl-animation;
  }
  .sl-marque-text {
    @apply relative w-full text-nowrap overflow-hidden md:before:absolute before:left-0 before:top-0 before:h-full before:w-96 before:bg-gradient-to-l before:from-white/0 before:to-slate-950 before:z-10 md:after:absolute after:right-0 after:top-0 after:h-full after:w-96 after:bg-gradient-to-r after:from-white/0 after:to-slate-950 after:z-10;
  }
  .sl-marque-text ul {
    @apply flex w-[300%];
  }
  .sl-marque-text li {
    @apply relative w-1/2 h-10 leading-10;
  }
  .sl-required-mark {
    @apply relative w-fit after:absolute after:-right-2.5 after:top-0 after:text-purple-500 after:content-['*'];
  }
}

@layer base {
  body {
    @apply bg-slate-950 text-white text-sm;
  }

  section {
    @apply relative;
  }

  a,
  button {
    @apply inline-block cursor-pointer;
  }

  img {
    @apply w-full;
  }

  input,
  select,
  textarea {
    @apply outline-none bg-transparent;
  }

  a,
  button,
  span,
  p,
  i,
  input,
  select,
  textarea,
  li,
  ul,
  img,
  svg,
  label,
  svg path,
  tr,
  td,
  *::after,
  *::before,
  .transition-3,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply transition-all duration-300 ease-out;
  }
}

@layer utilities {
  .sl-submenu-hover > ul {
    transition: all 0.3s ease-out 0s;
    visibility: hidden;
    opacity: 0;
    transform-origin: top;
    transform: perspective(300px) rotateX(-18deg);
  }

  .sl-submenu-hover:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: perspective(300px) rotateX(0deg);
  }

  .sl-title-shadow {
    -webkit-text-fill-color: #05092b;
    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 20%,
      #fff 100%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -webkit-linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 20%,
      #fff 100%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -moz-linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 20%,
      #fff 100%,
      rgba(255, 255, 255, 0) 100%
    );
    background: -ms-linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 20%,
      #fff 100%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    color: #232d2d;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
  }

  .sl-marque-text ul {
    animation: marquee 40s linear infinite forwards;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-66.6%);
    }
  }

  .sl-checkBlue[type="checkbox"] {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .sl-checkBlue[type="checkbox"]:before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    inset: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #020617 !important;
    background: none;
  }
  .sl-checkBlue[type="checkbox"]:checked:before {
    border-color: #a855f7 !important;
    background-color: #a855f7 !important;
  }
  .sl-checkBlue[type="checkbox"]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 2px;
    left: 5.5px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
